@font-face {
    font-family: 'Pangea';
    src: url('../assets/fonts/Pangea-Regular.woff2') format('woff2'),
         url('../assets/fonts/Pangea-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; // Giúp font tải nhanh hơn
  }